pytest~=7.3.1
pandas~=2.0.3
PyAutoGUI~=0.9.54
pytesseract~=0.3.10
Pillow~=9.5.0
lxml~=4.9.2
selenium~=4.9.1
setuptools~=65.5.1
numpy~=1.24.3
opencv-python~=4.8.0
rpaframework~=26.0.0

pyperclip~=1.8.2
rpa~=1.50.0